.header {
    background-image: linear-gradient(to right, white 50%, black 50%);
    width: 100%;
    height: 70px;
    justify-content: right;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out; /* Add transition for smooth slide */
  }

  .brand-name {
    background-color: linear-gradient(to right, white 50%, black 50%);
    color: rgb(185, 143, 125);
    font-size: 32px;
    display: flex;
    padding-left: 3.7rem;
    padding-top: 1.5rem;
    width: 100%;
    font-family: "Arimo", sans-serif;
    position: sticky;
    font-weight: bold;
    object-fit: contain;
    text-decoration: none;
    cursor: pointer;
  }

  .nav-links {
    text-decoration: none;
    margin-right: 20px; /* Add some spacing between the links */
    color: rgb(158, 159, 165);
    cursor: pointer;
    font-family: "Arimo", sans-serif;
    font-size: larger;
  }

  .nav-links:hover {
    text-decoration: underline; /* Underline the links on hover for a nice effect */
  }

  .cart-icon {
    margin-right: 25px;
    margin-left: 25px;
    width: 34px;
    height: 34px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }